<div id="header"></div>
<div id="sub1"></div>
<!-- <div id="pageTitle" [innerHTML]="appContent['Title']"></div> -->
<div id="pageTitle"><p>CONTACT US</p></div>

<div id="body" flex row>
    <div col-5>
        <div align-center flex row class="contact-container">
            <div class="icon">
                <img src="../../../assets/icons/phone.svg" />
            </div>
            <div class="contact-values">
                <p class="label">OFFICE PHONE</p>
                <a class="value" href="tel:615-669-6397">615-669-6397</a>
            </div>
        </div>

        <div align-center flex row class="contact-container">
            <div class="icon">
                <img src="../../../assets/icons/fax.svg" />
            </div>
            <div class="contact-values">
                <p class="label">Fax</p>
                <a class="value" href="tel:615-992-3933">615-992-3933</a>
            </div>
        </div>

        <div align-center flex row class="contact-container">
            <div class="icon">
                <img src="../../../assets/icons/email.svg" />
            </div>
            <div class="contact-values">
                <p class="label">Email</p>
                <a class="value" href="mailto:office@practicalbehavior.com">office@practicalbehavior.com</a>
            </div>
        </div>

    </div>
    <div col-7 text-center>
        <img src="../../../assets/images/nashville_skyline.jpg" />
    </div>
</div>