<div id="header"></div>
<div id="sub1"></div>
<div id="pageTitle" [innerHTML]="appContent['Title']"></div>

<form 
    flex row 
    [formGroup]="referral" 
    (ngSubmit)="onSubmit()"
    *ngIf="referral">

    <div col-6 class="section">
        <p>Personal Information</p>
        <div flex row class="section-inner">
            <div col-6>
                <div class="control-wrapper required">
                    <label>Name</label>
                    <input type="text" formControlName="patientName" required />
                </div>
            </div>
            <div col-6>
                <div class="control-wrapper required">
                    <label>Date of Birth</label>
                <input type="date" formControlName="patientDOB" required />
                </div>
            </div>
            <div col-6>
                <div class="control-wrapper required">
                    <label>Phone</label>
                    <input type="text" formControlName="patientPhone" />
                </div>
            </div>
            <div col-6>
                <div class="control-wrapper required">
                    <label>Email</label>
                    <input type="text" formControlName="patientEmail" />
                </div>
            </div>
            <div col-6 class="control-wrapper required">
                <label>Address</label>
                <input type="text" formControlName="patientAddress" required />
            </div>
            <div col-6 class="control-wrapper">
                <label>Apt / Suite / Other</label>
                <input type="text" formControlName="patientAddress2" />
            </div>    
            <div col-4 class="control-wrapper required">    
                <label>City</label>
                <input type="text" formControlName="patientCity" required />        
            </div>
            <div col-4 class="control-wrapper required">
                <label>State</label>
                <select formControlName="patientState" required>
                    <option selected>Tenessee</option>
                </select>
            </div>
            <div col-4 class="control-wrapper required">
                <label>Zip Code</label>
                <input type="text" formControlName="patientZip" required />
            </div>
            <div col-12 class="control-wrapper required">
                <label>Diagnosis</label>
                <textarea 
                    rows="2" 
                    placeholder="Previous diagnosis and/or behavior issues"
                    formControlName="diagnosis"
                    required>
                </textarea>
            </div>
        </div>
        
        <div flex row class="section-inner collapse">
            <div col-12 style="overflow: visible !important;" (click)="handleCheckboxChange(referral.get('guardianNotApplicable'))">
                <label style="display: inline;">CONSERVATOR/GUARDIAN</label>
                <span style="float: right; width: 170px;">
                    <input type="checkbox" [checked]="referral.value.guardianNotApplicable" />
                    <span class="checkbox"></span>
                    <label style="display: inline; padding-left: .5rem;"> None</label>
                </span>
            </div>
            <div col-12 flex row *ngIf="!referral.value.guardianNotApplicable" class="guardian" style="margin-top: .5rem;">
                <div col-12 class="control-wrapper required">
                    <label>Name</label>
                    <input type="text" formControlValue="guardianName" />
                </div>
                <div col-6 class="control-wrapper required">
                    <label>Phone</label>
                    <input type="text" formControlName="guardianPhone" />
                </div>
                <div col-6 class="control-wrapper required">
                    <label>Email</label>
                    <input type="text"  formControlName="guardianEmail" />
                </div>
                
                <div col-6 class="control-wrapper">
                    <label>Address</label>
                    <input type="text" formControlName="guardianAddress" />
                </div>
                <div col-6 class="control-wrapper">
                    <label>Apt / Suite / Other</label>
                    <input type="text" formControlName="guardianAddress2" />
                </div>    
                <div col-4 class="control-wrapper">    
                    <label>City</label>
                    <input type="text" formControlName="guardianCity" />        
                </div>
                <div col-4 class="control-wrapper">
                    <label>State</label>
                    <select formControlName="guardianState" required>
                        <option selected>Tenessee</option>
                    </select>
                </div>
                <div col-4>
                    <label>Zip</label>
                    <input type="text" formControlName="guardianZip" />
                </div>
    
                <div col-6 class="control-wrapper required">
                    <label style="margin-bottom: .5rem; font-size: .75rem;">PREFERRED METHOD OF CONTACT</label>
                    <span (click)="handleCheckboxChange(referral.get('preferredPhone'))">
                        <input type="checkbox" [checked]="referral.value.preferredPhone">
                        <span class="checkbox"></span>
                        <label style="display: inline; font-size: .75rem;"> Phone</label>
                    </span>
                    <span style="margin-left: 2rem;" (click)="handleCheckboxChange(referral.get('preferredEmail'))">
                        <input type="checkbox" [checked]="referral.value.preferredEmail">
                        <span class="checkbox"></span>
                        <label style="display: inline; font-size: .75rem;"> Email</label >
                    </span>
                </div>
                <div col-6 class="control-wrapper required">
                    <label style="margin-bottom: .5rem; margin-left: .5rem; font-size: .75rem;">PREFERRED TIME OF CONTACT</label>
                    <span style="margin-left: .5rem;" (click)="handleCheckboxChange(referral.get('preferredAM'))">
                        <input type="checkbox" [checked]="referral.value.preferredAM">
                        <span class="checkbox"></span>
                        <label style="display: inline; font-size: .75rem;"> AM</label>
                    </span>
                    <span style="margin-left: 2rem;" (click)="handleCheckboxChange(referral.get('preferredPM'))">
                        <input type="checkbox" [checked]="referral.value.preferredPM">
                        <span class="checkbox"></span>
                        <label style="display: inline; font-size: .75rem;"> PM</label>
                    </span>
                </div>
            </div>
        </div>

        <div flex row class="section-inner collapse">
            <div col-12 style="overflow: visible !important;" (click)="personFillingOutForm = !personFillingOutForm">
                <label style="display: inline;">Person filling out the form</label>
                <span style="float: right; width: 170px;">
                    <input type="checkbox" [checked]="personFillingOutForm" />
                    <span class="checkbox"></span>
                    <label style="display: inline; padding-left: .5rem;"> Same As Above</label>
                </span>
            </div>
            <div flex row col-12 style="margin-top: .5rem;" *ngIf="!personFillingOutForm">
                <div col-6 class="control-wrapper">
                    <label>Name</label>
                    <input type="text" formControlName="personFillingOut" />
                </div>
                <div col-6 class="control-wrapper">
                    <label>Phone</label>
                    <input type="text" formControlName="personFillingPhone" />
                </div>
                <div col-6 class="control-wrapper">
                    <label>Fax</label>
                    <input type="text" formControlName="personFillingFax" />
                </div>
                <div col-6 class="control-wrapper">
                    <label>Email</label>
                    <input type="text" formControlName="personFillingEmail" />
                </div>
            </div>
        </div>
    </div>

    <div col-6 class="section right">
        <p>REFERRAL INFORMATION</p>
        <div flex row class="section-inner" style="padding-bottom: .2rem">
            <div col-6>
                <div class="control-wrapper">
                    <label>Insurance Number</label>
                    <input type="text" formControlName="insuranceNumber" required />
                </div>
            </div>
            <div col-6 flex row>
                <div col-9 class="control-wrapper" [ngClass]="{'required': !didd}">
                    <label>Insurance Provider</label>
                    <select 
                        style="width: 100%"
                        formControlName="insuranceName">
                        <option selected>Select A Provider</option>
                        <option>Anthem</option>
                        <option>Kaiser</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div col-3>
                    <div class="control-wrapper" text-center (click)="handleDIDD()">
                        <label>DIDD</label>
                        <input type="checkbox" [checked]="didd" />
                        <span style="margin-top: .5rem;" class="checkbox"></span>
                    </div>
                </div>
            </div>
            <div col-6 class="control-wrapper required" *ngIf="referral.value.insuranceName == 'other' && !didd">
                <label>Insurance Provider (Other)</label>
                <input type="text" formControlName="insuranceNameOther" />
            </div>
        </div>

        <div flex row class="section-inner" style="padding-bottom: 0;">
            <div col-12>
                <div class="control-wrapper">
                    <label>PREVIOUS TREATMENTS FOR BEHAVIOR ISSUES</label>
                    <div flex row>
                        <div col-6 *ngFor="let box of treatmentCheckboxes" class="control-wrapper" style="margin: .5rem auto;" (click)="behaviorCheckboxChange(box)">
                            <input type="checkbox" [checked]="box.checked" (change)="behaviorCheckboxChange(box)" />
                            <span class="checkbox"></span>
                            <label style="display: inline; padding-left: .5rem; text-transform: none !important; font-size: .8rem;"> {{box.label}}</label>
                        </div>
                    </div>
                </div>
                <div col-12 class="control-wrapper required" *ngIf="referral.value.otherTreatmentCheckbox" style="padding-bottom: .5rem;">
                    <label>Description of Treatment</label>
                    <input type="text" formControlName="otherTreatment" />
                </div>
            </div>
        </div>

        <div flex row class="section-inner" style="padding-bottom: .5rem">
            <div col-12 class="control-wrapper required" style="margin-bottom: 0 !important">
                <label style="margin-bottom: 1.3rem;">BEHAVIORS OF CONCERN (PLEASE SELECT AT LEAST ONE)</label>
                <div *ngFor="let box of behaviorCheckboxes" class="control-wrapper" style="margin-top: .5rem;" (click)="behaviorCheckboxChange(box)">
                    <input type="checkbox" [checked]="box.checked" />
                    <span class="checkbox"></span>
                    <label style="display: inline; padding-left: .5rem; text-transform: none !important; font-size: .8rem;"> {{box.label}}</label>
                </div>
            </div>
            <div col-12 class="control-wrapper required" *ngIf="referral.value.otherCheckbox" style="padding-bottom: .5rem;">
                <label>Description of Behavior</label>
                <input type="text" formControlName="other" />
            </div>
        </div>

        <div flex row class="section-inner">
            <div class="control-wrapper required">
                <label style="text-transform: none !important;">Description of the behaviors, including frequency (daily, weekly, monthly) and intensity (severe, moderate, minor)</label>
                <textarea 
                    rows="6"
                    style="margin-top: .4rem;">
                </textarea>
            </div>
        </div>
    </div>

    <div col-12 text-center>
        <button type="submit" [disabled]="!referral.valid" >Submit</button>
    </div>
</form>
