@import '../../../variables.scss';

#homeWrapper {
    width: 100%;
    font-family: 'Montserrat', sans-serif;

    h1, h4 {
        font-weight: 500;
    }

    p, .rendered-html {
        font-weight: 300;
    }

    #hero {

        #heroImg {
            width: 100%;

            @media screen and (min-width: $break-large) {
                margin-top: -6rem;
            }
            
            @media screen and (max-width: $break-xsmall) {
                min-height: 10rem;
            }
        }

        #heroText {
            position: absolute;
            top: 10rem;
            left: 7.625rem;
            white-space: normal;
            margin: 0 !important;
            padding: 0;
            color: white;
            letter-spacing: 2px;
    
            h1 {
                font-size: 3rem;
                line-height: 3.9375rem;
            }
            p, .rendered-html {
                max-width: 45.625rem;
                line-height: 1.5rem;
            }

            @media screen and (max-width: $break-large) {
                left: 3rem;

                h1 {
                    font-size: 2.3rem;
                    margin-bottom: 0 !important;
                }

                p, .rendered-html {
                    margin-top: 0 !important;
                    // font-size: .9rem;
                }
            }

            @media screen and (max-width: $break-medium) {
                top: 8.5rem;
                left: 2rem; 

                h1, p, .rendered-html {
                    margin-top: 0 !important;
                }

                h1 {
                    font-size: 1.8rem;
                    line-height: 2.9375rem;
                }
            }

            @media screen and (max-width: $break-small) {
                top: 6.5rem;

                #heroHeader {
                    font-size: 1rem !important;
                    margin: 0 !important;
                    line-height: 1.5rem !important;
                
                }

                p, .rendered-html {
                    font-size: .8rem;
                    line-height: 1rem;
                }
                
            }

            @media screen and (max-width: $break-xsmall) {
                top: 5rem;
                left: 1rem;

                h1 {
                    font-size: 1.2rem;
                    width: 75% !important;
                }
            }

            @media screen and (max-width: $break-xsmall - 100px) {
                top: 5.5rem;
                
                h1 {
                    font-size: 1rem !important;
                    margin: 0 !important;
                    line-height: 1.5rem !important;
                    width: 100% !important;
                }
                
                p, .rendered-html {
                    display: none;
                }
            }
        }
    }

    #mobileDescription {
        display: none;
        letter-spacing: 2px;
        line-height: 1.5rem;
        color: map-get($colors, primary);
        font-weight: bolder;
        padding: 0 1rem;

        @media screen and (max-width: $break-xsmall - 100px) {
            display: block;
        }
    }

    #tileContainer {
        padding: 4.125rem;

        .tile {
            width: 48%;
            height: 18.75rem;
            margin-bottom: 1.8rem;

            .tile-inner {
                padding: 3rem;
                border: 1px solid map-get($colors, secondary);
                height: calc(100% - (7rem + 5.5px));
                overflow: hidden;
                background-color: white;
                cursor: pointer;
                transition: border-bottom .2s,
                            background-color .2s ease-in-out,
                            box-shadow .2s ease-in-out;

                &:hover {
                    border-bottom: 3px solid map-get($colors, ternary);
                    background-color: map-get($colors, background-light);
                    transition: border-bottom .2s,
                                background-color .2s ease-in-out,
                                box-shadow .2s ease-in-out;
                }

                img {
                    height: 4rem;
                    color: map-get($colors, secondary);
                }

                h4 {
                    margin: 1.4rem 0 1.2rem;
                    color: map-get($colors, dark);
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.875rem;
                    line-height: 2.4375rem;
                }

                p, .rendered-html {
                    margin: 0 !important;
                    white-space: normal;
                    text-overflow: ellipsis;
                    overflow-wrap: normal;
                }

                @media screen and (max-width: $break-large) and (min-width: $break-small) {
                    padding: 3rem;

                    img {
                        height: 3rem;
                    }

                    h4 {
                        margin: 1.2rem 0 1rem;
                        font-size: 1.5rem;
                        line-height: 1.9rem;
                    }
                }

                @media screen and (max-width: $break-xsmall) {
                    padding: 3rem;

                    img {
                        height: 3rem;
                    }

                    h4 {
                        margin: 1.2rem 0 1rem;
                        font-size: 1.5rem;
                        line-height: 1.9rem;
                    }
                }
            }

            @media screen and (max-width: $break-small) {
                width: 100%;
                margin-bottom: 0;
            }

        }

        @media screen and (max-width: $break-xsmall) {
            padding: 1.1rem;
        }
    }


    #referralSection {
        background-color: map-get($colors, secondary);
        
        #referralTextContainer {
            padding: 3.125rem 5rem 4.125rem 4rem;
            white-space: normal;
            overflow: auto;

            p, .rendered-html {
                line-height: 1.5;
            }

            a {
                cursor: pointer;
                margin-top: 1rem;
                display: inline-block;
                text-decoration: none !important;
                color: white;
                background-color: map-get($colors, primary);
                padding: 1rem 2rem;
                border-radius: 5px;
                border: 1px solid map-get($colors, primary);
                transition: background-color .2s, color .2s;

                @media screen and (min-width: $break-medium) {
                    &:hover {
                        color: map-get($colors, primary);
                        background-color: white;
                    }                        
                }

                &:active {
                    color: map-get($colors, primary);
                    background-color: white;
                }
            }

            @media screen and (max-width: $break-small) {
                padding-right: 3rem;
            }

            @media screen and (max-width: $break-xsmall) {
                padding: 1rem;
                
                h1 {
                    margin-top: 0 !important;
                    text-align: center;
                }

                a {
                    display: block;
                    text-align: center;
                    margin: 1rem auto;
                }
            }
        }

        #imgContainer {
            overflow: visible;
            
            #typingPic {
                background-image: url("/assets/images/hands_typing.png");
                height: 24rem;
                background-position: top left;
                background-repeat: no-repeat;
                background-size: contain;
                top: -50px;
                position: relative;
        
            }

            img {
                position: absolute;
                top: -8rem;
                left: 2rem;
            }

            @media screen and (max-width: $break-xsmall) {
                display: none;
            }
        }
    }
}