<div id="header"></div>
<div id="sub1"></div>
<!-- <div id="pageTitle" [innerHTML]="appContent['Title']"></div> -->
<div id="pageTitle"><p>SERVICES PROVIDED</p></div>

<div class="description text-container">
    <p>We serve many populations, including Autism Spectrum Disorder, Intellectual/Developmental Disabilities, and have experience with many other populations of individuals. If your loved one is experiencing a deficit in important adaptive skills, or if they engage in dangerous or challenging behavior, we will work with them to create opportunities for independence and success.</p>
    <p>Practical Behavior Analysis gladly accepts several types of funding, including DIDD, TennCare, private/commercial insurance, and private pay.</p>
</div>

<div class="bottom text-container">
    <div flex row align-center>
        <div col-3 text-right>
            <p>Header Text</p>
        </div>
        <div col-9>
            <p>The purpose of the functional assessment is to determine why certain problem behaviors occur, so that the behavior analyst is able to create treatment programming to target those functions. This process includes direct observations of the individual in the environment in which problem behaviors are most likely to occur, interviews with caregivers, and review of historical data.</p>
        </div>
    </div>
    <div flex row align-center>
        <div col-3 text-right>
            <p>Collaboration with Other Professionals
            </p>
        </div>
        <div col-9>
            <p>At PBA, we are committed to consistent treatment, and as such, we welcome collaboration with other therapists such as speech language pathologists, occupational therapists, and psychologists. It is important to ensure that behavioral treatment continues across all settings that an individual experiences. Behavior analysts can work closely with other therapists to ensure that challenging behavior does not impede on their treatment gains.</p>
        </div>
    </div>
</div>