<div id="header"></div>
<div id="sub1"></div>
<div id="pageTitle" *ngIf="appContent" [innerHTML]="appContent['Title']"></div>

<div class="description text-container" *ngIf="appContent" [innerHTML]="appContent['Main Text']">
</div>

<div class="bottom text-container" *ngIf="services">
    <div flex row align-center *ngFor="let row of services">
        <div col-3 text-right>
            <p>{{row.title}}</p>
        </div>
        <div col-9>
            <p>{{row.description}}</p>
        </div>
    </div>
</div>