<div id="header"></div>
<div id="sub1"></div>
<div id="pageTitle" *ngIf="appContent" [innerHTML]="appContent['Title']"></div>

<div id="body">
    <div flex row>
        <div col-8 style="white-space: normal;">
            <div class="text-container">
                <div class="text-element">
                    <h1>Data Sheets</h1>
                    <p>Behavior analysts collect data on our clients’ behaviors in order to analyze their progress. We use graphic feedback to show clients and their caregivers how the treatment plan we have implemented is affecting the individual’s behavior. See below for a description of each of the free downloadable data sheets we have provided.</p>
                </div>
                <div class="text-element">
                    <h1>Frequency Data Sheets</h1>
                    <p>A frequency data sheet is used to collect data on the number of times a behavior occurs during a given period. On this data sheet, caregivers can collect data on the frequency of up to 5 different behaviors on a monthly data sheet. Before treatment begins, we measure how often a behavior is occurring, and then continue to collect data on the behavior to determine what effect that our treatment plan has had on the behavior.</p>
                    <a href="/">Download a resource</a>
                </div>
                <div class="text-element">
                    <h1>ABC Data Sheet</h1>
                    <p>Additionally, behavior analysts use Antecedent Behavior Consequence (ABC) data to learn about the environmental events that are present surrounding engagement in challenging behaviors. The ABC data sheet below can be used to collect data on the Antecedent (what happened before the behavior occurred), the Behavior (what the individual did), and the Consequence (what caregivers did in response to the behavior) for several behaviors. These data are extremely important in behavioral treatment, and thus, a head start on collecting data can sometimes increase the accuracy of a behavior assessment.</p>
                    <a href="/">Download a resource</a>
                </div>
            </div>
        </div>
        <div col-4>
            <div class="links">
                <div id="linksHeader">
                    <h1>Links</h1>
                </div>
                <ul id="links">
                    <li>
                        <a href="https://www.bacb.com">Behavior Analyst Certification Board</a>
                    </li>
                    <li>
                        <a href="https://www.bacb.com">Behavior Analyst Certification Board</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>