$app-width: 100%;

$break-large: 1500px;

$break-medium: 1215px;

$break-small: 910px;

$break-xsmall: 750px;

$colors: (
    'primary': #083d77,
    'secondary': #a6cfd5,
    'ternary': #DB3A34,
    'text-grey': #acacac,
    'background-grey': #eeeeee,
    'dark': #0d0221,
    'border-light': #D8D8D8,
    'background-light': #F8F8F8
);

$font: "Montserrat", sans-serif;